{% extends 'base.html' %}

{% block content %}

<div class="signup-form">
    <form action="" method="post">
    	{% csrf_token %}
		<h2>Log In</h2>
		<p>Please provide your credintals to log in!</p>
		{% for message in messages %}
			<span style="color:green">{{message}}!!!</span>
		{% endfor %}
		<hr>
        <div class="form-group">
        	<input type="text" class="form-control" name="user_name" placeholder="User Name" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>        
        
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Log In</button>
        </div>
    </form>
	<div class="hint-text">Don't have an account? <a href="/register">Sign Up here</a></div>
</div>


{% endblock %}